@model FootBallLeague.Models.FootBallLeague
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body style="background-color:green;text-align:center">
    <div>
        <h2> form validation</h2>

        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.TeamName1)
            @Html.TextBoxFor(model => model.TeamName1)<br />

            @Html.LabelFor(model => model.TeamName2)
            @Html.TextBoxFor(model => model.TeamName2)<br />

            @Html.LabelFor(model => model.Status)
            @Html.TextBoxFor(model=>model.Status)<br />

            @Html.LabelFor(model => model.WinningTeam)
            @Html.TextBoxFor(model => model.WinningTeam)<br />

            @Html.LabelFor(model => model.points)
            @Html.TextBoxFor(model => model.points)<br />

            <input type="Submit" name="submit" />

        }

    </div>
</body>
</html>
